:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Elementos base*/

body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    /*coloca em linha vertical*/
    flex-direction: row;
    /*padrão*/
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #FFF;
}


/*Filme principal*/

.filme-indicação {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url("../img/fundo.jpg");
    height: 600px;
    background-size: cover;
    /*area de cobertura*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

.filme-indicação .titulo {
    margin-top: 10%;
    font-size: 69px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.filme-indicação .snopse {
    margin-top: 10px;
    margin-bottom: 60px;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 10px;
    /*margin-left: 10px;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    color: black;
}

.botao i {
    margin: 5px;
}

.links {
    color: white;
    text-decoration: none;
}

.container {
    margin-left: 30px;
    margin-right: 10px;
}

.filme-indicação .container {
    width: 60%;
}

.filme-box {
    width: 80%;
    height: 80%;
    display: block;
}