@media screen and (max-width: 695px) {
    header .container {
        display: flex;
        flex-direction: column;
    }
    .logo {
        margin-bottom: 5px;
    }
    .botao {
        margin-top: 5px;
        width: 240px;
        height: 60px;
    }
}

@media screen and (min-width: 1000px) {
    .snopse {
        width: 50%;
    }
}